<h2>{{texto}}</h2>

<div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="85px">

        <mat-grid-tile>
            <!-- nombreTaller -->
            <mat-form-field class="example-full-width">
                <mat-label>Nombre Taller</mat-label>
                <input id="noNull" matInput placeholder="" *ngIf="data" [(ngModel)]="data.NombreTaller"
                    placeholder="Ej. Abc" ngModel required>
                <input id="nullN" matInput *ngIf="data == null" noNull.matDialogClose [(ngModel)]="nombreTaller"
                    placeholder="Ej. Abc" ngModel required>
            </mat-form-field>
        </mat-grid-tile>

        <!-- descripcion 
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <mat-label>Descripción</mat-label>
                <input id="noNullD" matInput placeholder="" *ngIf="data" [(ngModel)]="data.Descripcion"
                    placeholder="Ej. Abc">
                <input id="nullND" matInput *ngIf="data == null" noNullD.matDialogClose [(ngModel)]="descripcion"
                    placeholder="Ej. Abc">
            </mat-form-field>
        </mat-grid-tile>
-->

        <mat-grid-tile>
            <!-- precio -->
            <mat-form-field class="example-full-width">
                <mat-label>Precio&nbsp;</mat-label>
                <input id="noNullPA" matInput placeholder="" *ngIf="data" [(ngModel)]="data.Precio"
                    placeholder="Ej. Abc" ngModel required>
                <input id="nullPA" matInput *ngIf="data == null" noNullPA.matDialogClose [(ngModel)]="precio"
                    placeholder="Ej. Abc" ngModel required>
            </mat-form-field>
        </mat-grid-tile>

        <!-- ubicacion 
        <mat-grid-tile>
            
            <mat-form-field class="example-full-width">
                <mat-label>Ubicación</mat-label><br>
                <input id="noNullU" matInput placeholder="" *ngIf="data" [(ngModel)]="data.Ubicacion"
                    placeholder="Ej. Abc">
                <input id="nullU" matInput *ngIf="data == null" noNullU.matDialogClose [(ngModel)]="ubicacion"
                    placeholder="Ej. Abc">
            </mat-form-field>
        </mat-grid-tile>
-->
        <mat-radio-group>
            <mat-grid-tile>
                <!--sitio-->
                <mat-radio-button *ngIf="rbtnSitio" value="sitio" (click)="validarSIT()">Sitio</mat-radio-button>
                <br>
                <mat-form-field *ngIf="selSitio" appearance="fill">
                    <mat-label>Selecciona un Sitio&nbsp;</mat-label>
                    <mat-select [(value)]="selectedSit">
                        <mat-option value="{{dato._id}}" *ngFor="let dato of datosSitio">{{dato.nombreSitio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!--talent-->
                <mat-radio-button *ngIf="rbtnTalento" value="talento" (click)="validarTAL()">Talento</mat-radio-button>
                <br>
                <mat-form-field *ngIf="selTalent" appearance="fill">
                    <mat-label>Selecciona un Talento&nbsp;</mat-label>
                    <mat-select [(value)]="selectedTal">
                        <mat-option value="{{dato._id}}" *ngFor="let dato of datosTalent">{{dato.nombreTalent}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-radio-group>

        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <!-- status -->
                <mat-label>Status</mat-label><br>
                <mat-select [(value)]="selectedSTA" required>
                    <mat-option [value]="true">TRUE</mat-option>
                    <mat-option [value]="false">FALSE</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="btnAddUbicacion">
            <!-- servicios -->
            <button class="btnSave" mat-raised-button color="primary" (click)="openDialogAsignarUbicacion()">Agregar
                Ubicación</button>
        </mat-grid-tile>

    </mat-grid-list>
</div>
<mat-grid-list cols="1" rowHeight="120px">
    <mat-grid-tile>
        <!-- imgPrincipal -->
        <mat-form-field class="example-full-width">
            <label>ImgPrincipal&nbsp;&nbsp;</label><br><br>
            <input style="display: none" type="file" (change)="onFileChangedPrincipal($event)" #fileInput>
            <button class="btnSave" *ngIf="btnFileInput" mat-raised-button color="primary"
                (click)="fileInput.click()">{{txtFilePri}}</button>&nbsp;&nbsp;
            <button class="btnSave" *ngIf="btnUpload" mat-raised-button color="primary" (click)="onUploadPrincipal()">
                Upload
            </button>
            &nbsp;&nbsp;<label>{{txtAccionPri}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-label id="noNullI" *ngIf="data">{{data.ImagenPri}}</mat-label>
            <input id="noNullI" matInput placeholder="" *ngIf="data" disabled="true">
            <input id="nullI" matInput *ngIf="data == null" noNullI.matDialogClose disabled="true">
        </mat-form-field>
    </mat-grid-tile>

    <!-- ELIMINAR IMAGENES DEL ARRAY 

    <mat-grid-tile>
        <mat-form-field class="example-full-width">
            <mat-label>Imagenes</mat-label><br>
            <mat-select [(value)]="selectedImgs" [(ngModel)]="opcionImgsElim">
                <mat-option *ngFor="let dato of prueba" value="{{dato}}">{{dato}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="btnCancel" mat-raised-button color="warn" (click)="eliminarImagen()">Eliminar</button>
    </mat-grid-tile> -->

</mat-grid-list>

<mat-grid-list *ngIf="crdImg" cols="1" rowHeight="300px">
    <mat-grid-tile>
        <mat-card class="example-card" *ngFor="let dato of prueba">

            <mat-card-content>
                <div align="center">
                    <img src="{{dato}}" width="200px" height="200px">
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div align="center">
                    <button class="btnCancel" color="warn" mat-raised-button (click)="eliminarImagen()"><span class="
                    material-icons">
                            delete
                        </span>&nbsp;&nbsp;Borrar</button>
                </div>
                <!--<button mat-button>SHARE</button>-->
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>




<mat-grid-list cols="1" rowHeight="300px">
    <mat-label>Descripción *</mat-label>
    <mat-grid-tile>
        <angular-editor [placeholder]="'Descripción...'" *ngIf="data" [config]="editorConfig"
            [(ngModel)]="data.Descripcion">
        </angular-editor>
        <angular-editor [placeholder]="'Descripción...'" *ngIf="data == null" [config]="editorConfig"
            [(ngModel)]="descripcion">
        </angular-editor>
    </mat-grid-tile>
</mat-grid-list>


<h2></h2>

<!-- ACTIONS -->
<mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
        <mat-dialog-actions>

            <button class="btnCancel" mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <button class="btnSave" id="btnActu" *ngIf="tempImg" mat-raised-button color="primary"
                (click)="save()">{{btnTexto}}</button><button class="btnSave" *ngIf="tempImgCreate" mat-raised-button
                color="primary" (click)="create()" btnActu.matDialogClose>{{btnTexto}}</button>

        </mat-dialog-actions>
    </mat-grid-tile>
</mat-grid-list>